.card-list {
  display: block;
  width: 100%;
}
.card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
  justify-items: center;
  gap: 37px;
}
.card-list__loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  margin: 20px auto;
}
@media (max-width: 355px) {
  .card-list__container {
    grid-template-columns: 1fr;
  }
}
