.shopping-cart {
  background-color: #d9d9d9;
  box-shadow: 0px 0px 3px 1px rgba(234, 232, 153, 0.45);
  border-radius: 15px;
  margin: 0 auto;
}
.shopping-cart__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.shopping-cart__title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  text-align: left;
}
.shopping-cart__container {
  display: flex;
  gap: 17px;
}
.shopping-cart__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shopping-cart__list div {
  display: flex;
  gap: 20px;
  font-family: Inter;
  font-size: max(min(2vw, 24px), 12px);
  font-weight: 400;
  text-align: left;
}
.shopping-cart__list h3 {
  width: 70%;
  overflow: hidden;
}
.shopping-cart__input {
  display: inline-block;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  text-align: left;
  background-color: #222;
  border-radius: 15px;
  padding: 12px 16px;
  color: #ff7373;
  border: none;
}
.shopping-cart__input.valid {
  color: #f0f0f0;
}
.shopping-cart__button {
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  background-color: #222;
  color: #f0f0f0;
  padding: 12px 57px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.shopping-cart__button:disabled {
  background-color: #777;
  cursor: auto;
}
@media (max-width: 917px) {
  .shopping-cart__container {
    flex-direction: column;
    align-items: center;
  }
  .shopping-cart__input {
    width: 88%;
    text-align: center;
    font-size: 26px;
    line-height: 34.57px;
  }
  .shopping-cart__title {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .shopping-cart__title {
    font-size: 28px;
    line-height: 34.57px;
  }
  .shopping-cart__button {
    width: 88%;
    font-size: 24px;
    line-height: 34.57px;
  }
}
