.button {
  display: block;
  width: 100%;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  border: none;
  border-radius: 15px;
  background-color: #222222;
  color: #f0f0f0;
  cursor: pointer;
}
.button-list {
  display: flex;
  gap: 12px;
  width: 100%;
}
.decrement-button,
.increment-button {
  display: block;
  width: 68px;
  border: none;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  border-radius: 15px;
  background-color: #222222;
  color: #f0f0f0;
  cursor: pointer;
}
.count-input {
  display: block;
  width: 42%;
  border: none;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  text-align: center;
  border-radius: 15px;
  background-color: #222222;
  color: #f0f0f0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
