.reviews-list {
  display: block;
  width: 100%;
}
.reviews-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
  justify-items: center;
  gap: 37px;
}
.reviews-list__container li:first-child {
  justify-self: end;
}
.reviews-list__container li:last-child {
  justify-self: start;
}
@media (max-width: 724px) {
  .reviews-list__container {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 1fr);
  }
  .reviews-list__container li:first-child {
    justify-self: center;
  }
  .reviews-list__container li:last-child {
    justify-self: center;
  }
}
@media (max-width: 545px) {
  .reviews-list__container {
    max-width: 100%;
  }
}
@media (max-width: 355px) {
  .card-list__container {
    grid-template-columns: 1fr;
  }
}
