@import url(./vendor/normalize.css);

body {
  background: linear-gradient(-45deg, #ebcb57, #787878, #2a2a2a, #000000);
  background-size: 10000% 10000%;
  height: 100vh;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
